/* ── LAYOUT SHELL ─────────────────────────── */
.shell {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: 'DM Sans', sans-serif;
}
.main {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  min-width: 0;
}
app-sidebar {
  width: 250px;
  min-width: 250px;
}

app-sidebar.collapsed {
  width: 70px;
  min-width: 70px;
}

.app-list-project{
  margin: 50px;
  padding: 20px;
}
